.contact{
    text-align:center;
    margin-top:50px;
    padding:30px;
      background-color: #001529;
  color: white;
}

.contact p{
    margin:15px 0;
    font-size:18px;
      /* background-color: #001529; */
  color: white;
}