/* .header{
    background-color: #001529;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


.header{
    background:#001529;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-links{
    display:flex;
    gap:20px;
    align-items:center;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.menu-btn{
    display:none;
}

@media(max-width:768px){

    .nav-links{
        display:none;
    }

    .menu-btn{
        display:block;
    }

}